* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: #364061;
}

p {
  margin: 0;
}

.inline-icon {
  height: 26px;
  display: inline-block;
  margin-left: 5px;
}

.floating-button {
  border: none;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  bottom: -20px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.floating-button img {
  margin-top: 3px;
  width: 30px;
  height: 30px;
}

#header {
  margin: 0 20px;
  padding: 0 0 10px;
  position: absolute;
  top: -8px;
  width: calc(100vw - 40px);
  z-index: 999;
}

#header ul {
  width: 100%;
  margin: 0;
  padding: 30px 0 0 0;
}

#header ul li {
  list-style: none;
}

#header ul li .icon {
  width: 22px;
}

#header ul li h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 10px;
  font-weight: 300;
}

.active {
  border-bottom: solid 2px #f97ab3;
  padding-bottom: 3px;
  padding-right: 4px;
}

#header ul, #my-wallet, #coin-list ul li, #cycle #card, #cycle #percentages .tabs ul, #cycle .numbers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#resume {
  background-image: url("../images/background-gradient.png");
  background-size: cover;
  padding-bottom: 25px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: relative;
  box-shadow: -1px 10px 31px -9px rgba(220, 139, 227, 0.58);
  padding-top: 66px;
}

#resume .balance {
  text-align: center;
}

#resume .balance h2 {
  margin: 0;
  font-size: 16px;
}

#resume .balance h2 span {
  font-size: 22px;
}

#resume .balance p {
  margin: 5px 0;
}

#my-wallet {
  padding: 20px 0;
}

#my-wallet .info h1 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 300;
}

#my-wallet .info p {
  font-size: 12px;
}

#my-wallet .info p img {
  height: 19px;
}

#my-wallet a {
  text-transform: uppercase;
  text-decoration: none;
  color: #4fc1f9;
  letter-spacing: 2px;
  font-size: 10px;
}

#coin-list ul {
  padding: 0;
  margin: 0 5px;
}

#coin-list ul li {
  background: linear-gradient(to right, #535f80 0%, #333f60 100%);
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
}

#coin-list ul li .coin h4,
#coin-list ul li .price h4 {
  margin: 5px 0 2px 0;
  font-weight: 400;
  font-size: 14px;
}

#coin-list ul li .coin p,
#coin-list ul li .price p {
  opacity: 0.8;
  font-size: 10px;
  margin-bottom: 5px;
}

#coin-list ul li .chart {
  font-size: 14px;
}

#cycle #header {
  opacity: 0.5;
}

#cycle #card {
  background-image: url("../images/background-gradient-pb.png");
  background-size: cover;
  position: relative;
  width: 83%;
  margin: 82px 20px 15px 26px;
  border-radius: 10px;
  padding: 30px 2px;
}

#cycle #card .floating-button {
  right: calc(50% - 20px);
  bottom: -16px;
  width: 33px;
  height: 33px;
  background: linear-gradient(to right, #9785eb 0%, #f97ab3 100%);
}

#cycle #card .floating-button img {
  width: 19px;
  height: 19px;
  margin-left: 0px;
}

#cycle #card .wallet {
  width: 50px;
  opacity: 0.5;
}

#cycle #card .balance h1 {
  font-size: 18px;
  margin: 5px 0;
}

#cycle #card .balance h1 span {
  font-size: 24px;
}

#cycle #card .balance p {
  font-size: 12px;
  opacity: .5;
}

#cycle #card .balance p .inline-icon {
  height: 17px;
}

#cycle #graph h4 {
  display: inline-block;
  margin-left: 38px;
  font-weight: 300;
}

#cycle #graph img {
  width: 100vw;
}

#cycle #percentages .tabs ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  opacity: 0.5;
}

#cycle .numbers {
  margin-bottom: 20px;
}

#cycle .numbers div h2 {
  margin-bottom: 5px;
}

#cycle .numbers div h2 span {
  font-size: 16px;
  opacity: 0.5;
}

#cycle .numbers div p {
  opacity: 0.5;
  font-size: 11px;
  letter-spacing: 2px;
}

#cycle .numbers div ~ div {
  border-left: 1px solid #242f48;
  padding-left: 32px;
}
/*# sourceMappingURL=main.css.map */